
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #EDB5D9;
    background-color: #05101F;
    position: relative;
  }
  
  a {
    color: #3a3a3b;
    text-decoration: none;
  }
  
  a:hover {
    color: #EDB5D9;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }

  .screen-i{
    display: none;
  }

  p{
    font-size: large;
  }

  h3{
    color: #ACD0FE;
  }

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #FFC7EA;
    overflow-y: auto;
  }
  
  #header .profile img {
    margin: 40px auto;
    display: block;
    width: 150px;
    border-radius: 30%;
    border: 8px solid #050D18;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #050D18;
    text-decoration: none;
  }
  
  #main {
    margin-left: 9%;
  }
  
  @media (max-width: 1199px) {
    #header {
      width: 100%;
      height: auto;
      position: relative;
    }
    #header .profile {display: none;}
    #main {
      margin-left: 0;
    }
  }


  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    height: auto;
    padding-top: 35px;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #0C203A;
    font-size: 18px;
    padding: 16px;
    text-decoration: none;
  }

   
  .sidebar a:not(:last-child).active {
    background-color: #0C203A;
    color:  #EDB5D9;
  }
  
  .sidebar a:not(:last-child):hover:not(.active) {
    background-color: #0C203A;
    color: #EDB5D9;
  }
  
  .sidebar .icon{
    font-size: 24px;
    padding-right: 10px;
    display: none;
  }
  
  @media screen and (max-width: 1199px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding: 0%;
    }
    .sidebar a {float: left;}
  }
  
  
  
  @media screen and (max-width: 1199px) {
    .sidebar a:not(:last-child) {display: none;}
    .sidebar a.icon {
      display: block;
      float: right;
    }
  }
  
  @media screen and (max-width: 1199px) {
    .sidebar.responsive {
      position: fixed;
      margin-left: -15px;
      background: linear-gradient(#FFD6F9, #9198e5);
      /* background: linear-gradient(0.5turn, #EDB5D9, #A371A1, #050D18); */
    }
    .sidebar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0) ;
      color: white;
    }
    .sidebar.responsive a {
      float: none;
      display: block;
      text-align: left;
      text-decoration: none;
    }
  }



/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 2;
    min-width: 300px;
    background-image: url(/img/photo.png);
    background-position: center;
    background-repeat: none;
    background-size: cover; 
 /* position: relative; */
  }
  
   /*#hero:before {
    content: "";
    background-color: #05101F;
    0A1C32
      0C203A
      092240
      071D37
      011A38
      06172C
      00132A
      05101F
      050D18
    
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } */
  
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #EDB5D9;
    margin-left: 10%;
  }
  
  #hero p {
    color: #EDB5D9;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #EDB5D9;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid black;
  }
  
   @media screen and (min-width: 1700px) {
    #hero {
      background-attachment: fixed;
      display: none;
    }
  }
   
  @media screen and (max-width: 1199px) {
    #hero{
      display: none !important;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
      margin: 0;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero p span {
        font-size: 18px;
    }
    .screen-v{
      all: unset;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
    }
  } 
  


  
/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
    background-color: #050D18;
    color: #ADA2B1;
  }
  
  .section-bg {
    background: #050D18;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #EDB5D9;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #3064D4;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  strong, b{
    color: #A371A1;
    /*A371A1*/
  }



  /*--------------------------------------------------------------
  # A Propos
  --------------------------------------------------------------*/
  .apropos .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #EDB5D9;
  }
  
  .apropos .content ul {
    list-style: none;
    padding: 0;
  }
  
  .apropos .content ul li {
    padding-bottom: 10px;
  }
  
  .apropos .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #fff;
  }
  
  .apropos .content p:last-child {
    margin-bottom: 0;
  }
  

  /*--------------------------------------------------------------
  # Mes compétences
  --------------------------------------------------------------*/

  

  /*--------------------------------------------------------------
  # Parcours
  --------------------------------------------------------------*/
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #EDB5D9;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgb(48, 100, 212);
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #EDB5D9;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #EDB5D9;
    color: #050d18;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #BCCFFF;
    border: 2px solid #3064D4;
  }
  
  /*--------------------------------------------------------------
  # Projets
  --------------------------------------------------------------*/
  /* #projets .projets-item{
    background-color: white;
    color: #050d18;

  } */


  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  /* .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  } */
  
  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #3064D4;
    font-size: 28px;
    text-align: center;
    background: rgba(237 181 217 / 80%);
    transition: 0.3s;
    width: 50%;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    background: rgba(48 100 212 / 75%);
    color: #EDB5D9;
  }
  
  
  /* .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
  } */
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
  }
  
  .apropos .row .col-lg-4 .img-fluid{
    align-items: center;
  }



  /*--------------------------------------------------------------
  # Veilles
  --------------------------------------------------------------*/
