/*--------------------------------------------------
# GENERAL
--------------------------------------------------*/
/* bryan */
*{
  scroll-behavior: smooth;
}
.grid {
  display: grid;
  grid-template-columns:  18% 82%;
  grid-template-areas:
  "header .content"
}

body {
    font-family: "Open Sans", sans-serif;
    color: #EDB5D9;
    font-size: large;
    background-color: bisque;
  }

  a {
    color: #3a3a3b;
    text-decoration: none;
  }
  
  a:hover {
    color: #EDB5D9;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }

  .screen-i{
    display: none;
  }

  p{
    font-size: large;
  }

  h3{
    color: #ACD0FE;
  }
/* 
  .id h4{
    color: #ACD0FE;
  }*/

  .apropos h4{
    color: #ACD0FE;
  } 


/*--------------------------------------------------
# HEADER
--------------------------------------------------*/
/* bryan */
#header{
    /* position: fixed; ne bouge pas par rapoort à la fenetre
    top: 0;
    left: 0; */
    bottom: 0; /*collé sur la gauche en haut et en bas*/
    /* width: 280px;  largeur de 300 pixels */
    transition: all ease-in-out 0.65s; /*apparition du header au chargement de la page*/
    z-index: 10; /*positionnement du menu en profondeur*/
    transition: all 0.65s; /*deplacement du header*/
    padding: 0 15px; /*de 15px*/
    background: #FFC7EA;
    overflow-y: auto;
}

#header .profile img {
    margin: 40px auto;
    display: block;
    width: 150px;
    border-radius: 30%;
    border: 8px solid #050D18;
  }
  
  #header .profile h1 {
    font-size: x-large;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Varela Round', sans-serif;

  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #050D18;
    text-decoration: none;
  }

  /* bryan #main {
    margin-left: 280px;
  } */

@media (max-width: 1199px) {
    #header {
      width: 100%;
      height: auto;
      position: relative;
    }
    #header .profile {display: none;}
    #main {
      margin-left: 0;
    }
  }

  /*Phrase animé*/
  .animation-sentence {
    font-size: 2rem;
    position: absolute;
    margin-top: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round', sans-serif;
    color: #A371A1;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .animation-sentence {
    animation: pulse 12s infinite ease-in-out;
    opacity: 0;
  }
  
  .animation-sentence:nth-child(2) {
    animation-delay: 5s;
  }
  
  .animation-sentence:nth-child(3) {
    animation-delay: 5s;
  }
  
  .animation-sentence:nth-child(4) {
    animation-delay: 3s;
  }



/*--------------------------------------------------
# NAVEBAR
--------------------------------------------------*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    height: auto;
    padding-top: 35px;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #0C203A;
    font-size: large;
    padding: 16px;
    text-decoration: none;
  }

   
   .sidebar a:not(:last-child).active {
    background-color: #0C203A;
    color:  #EDB5D9;
  } 
  
 .sidebar a:not(:last-child):hover:not(.active) {
    background-color: #0C203A;
    color: #EDB5D9;
  }
  
   .sidebar .icon{
    font-size: large;
    padding-right: 10px;
    display: none;
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 1199px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding: 0%;
    }
    .sidebar a {float: left;}
  }
  
  @media screen and (max-width: 1199px) {
    .sidebar a:not(:last-child) {display: none;}
    .sidebar a.icon {
      display: block;
      float: right;
    }
  }
  
  @media screen and (max-width: 1199px) {
    .sidebar.responsive {
      position: fixed;
      margin-left: -15px;
      background: linear-gradient(#EDB5D9, #9198e5);
      /* background: linear-gradient(0.5turn, #EDB5D9, #A371A1, #050D18); */
    }
    .sidebar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0) ;
      color: white;
      /* text-decoration: none; */
    }
    /* bryan */
    .sidebar.responsive a {
      float: none;
      display: block;
      text-align: left;
      text-decoration: none;
    }
    #navbar{
      position: inherit !important;
    }
    .grid{
      display: unset;
    }
  }


/*--------------------------------------------------
# HERO
--------------------------------------------------*/
#hero{
    /* background-color: green; */
    width: 100%;
    height: 100vh;
    /* background: url("https://static.wikia.nocookie.net/heros/images/0/0a/Stitch_Infobox.jpg/revision/latest/top-crop/width/360/height/450?cb=20200828115753&path-prefix=fr") top center; */
    background: url("https://cdn.pixabay.com/photo/2018/08/18/13/26/interface-3614766_960_720.png");
    background-size: cover;
    z-index: 2;
    min-width: 300px;
    /* margin-left: 80%; */
  }
  
  #hero:before {
    content: "";
    /* background-color: #050D18; */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    width: 100%;
    /* min-width: 300px; */
  }
  
  #hero h1 {
    margin: 0 0 0 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #A371A1;
    /* margin-left: 10%; */
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Sniglet', cursive; */
  }
  
  #hero p {
    font-size: x-large; /*26px;*/
    font-family: 'Varela Round', sans-serif;
    /* font-family: "Poppins", sans-serif; */
    margin: 0 0 0 0;
    font-weight: 700;
    line-height: 56px;
    color: #A371A1;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  /* #hero p span {
    color: #EDB5D9;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid black;
  } */
  
   @media screen and (min-width: 12000px) {
    #hero {
      background-attachment: fixed;
      display: none;
    }
  }
   
  @media screen and (max-width: 1199px) {
    #hero{
      display: none !important;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
      margin: 0;
    }
    /* #hero h2 {
      font-size: large; 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }*/
    #hero p span {
        font-size: 18px;
    } 

    .screen-v{
      all: unset;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
    }
  }


/*--------------------------------------------------
# MAIN
--------------------------------------------------*/
/* @media (max-width: 1199px) {
    #header {
        left: -300px;
        height: auto;
        position: relative;
        }
    #header .profile {
      display: none;}
    #main {
        margin-left: 0;
        }
} */

/*--------------------------------------------------
# SECTION
--------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
    background-color: #050D18;
    color: #ADA2B1;
  }

  .section-bg {
    background: #050D18;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #EDB5D9;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #3064D4;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  strong, b{
    color: #A371A1;
    /*A371A1*/
  }
  
  /*--------------------------------------------------------------
  # A PROPOS
  --------------------------------------------------------------*/
  .apropos .content h3 {
    font-weight: 700;
    font-size: x-large;
    color: #EDB5D9;
  }
     
  #matete{
    width: 200px;
    height: 200px;
    margin: 8% 0 0 0;
  } 
 /* .apropos .content ul i {
    font-size: xx-large;
    padding-right: 2px;
    color: red;
  }
  
  .apropos .content p:last-child {
    margin-bottom: 0;
  } */
  

  /*--------------------------------------------------------------
  # Mes compétences
  --------------------------------------------------------------*/

  #competences h4{
    color: #ACD0FE;
  }


  /*--------------------------------------------------------------
  # Parcours
  --------------------------------------------------------------*/
  /* .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #EDB5D9;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgb(48, 100, 212);
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #EDB5D9;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #EDB5D9;
    color: #050d18;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #BCCFFF;
    border: 2px solid #3064D4;
  } */



  .rightbox, .rightbox-2 {
    padding: 0rem 0rem 0em 0em;
    height: 100%;
    /* background-color: red; */
  }
  
  .rb-container {
    /* font-family: "PT Sans", sans-serif; */
    font-family: "Open Sans", sans-serif;
    width: 80%;
    margin: auto;
    display: block;
    position: relative;
    font-size: 18px;
    }
  
  .rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
  }
  
  .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    /* margin-left: 1em; */
    min-height: 50px;
    border-left: 1px dashed #EDB5D9;
    padding: 0 0 25px 30px;
    position: relative;
  }
  
  .rightbox-2 .rb-container ul.rb li {
    padding: 0 0 15px 30px;
  }

  .rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
  .rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(172, 208, 254, 1);
    border-radius: 500%;
    background: #ACD0FE;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
  }
  
  .rb-container ul.rb li:hover::before {
    border-color: #3064D4;
    transition: all 500ms ease-in-out;
  }
  
  ul.rb li .timestamp {
    color: #EDB5D9;
    position: relative;
    /* width: 100px; */
    font-size: 20px;
  }
  
  .item-title {
    color: #ADA2B1;
  }


  /*--------------------------------------------------------------
  # Projets
  --------------------------------------------------------------*/
  /* #projets .projets-item{
    background-color: white;
    color: #050d18;

  } */

  
  .apropos .row .col-lg-4 .img-fluid{
    align-items: center;
  }
 /*tableau page Amiciel bilan*/
  #tbl-biln thead{
    color: #ACD0FE;
  }

  #tbl-biln tbody{
    color: #ADA2B1;
  }


/*CARDS PROJETS*/

#projets .card{
  margin-top: 10px;
  width: 300px;
  height: 400px;
  background-color: rgba(0,0,0,0.2);
  border: solid;
  border-color: #EDB5D9;
}

#projets .card h5{
  color: #ACD0FE;
  text-align: center;
}

#projets img{
  width: 290px;
  height: 150px;
}

#projets .card .card-body{
  border-top: solid;
  border-color: #EDB5D9;
}

/* #cardtest p{
  text-align: center;
} */



/*--------------------------------------------------------------
  # MODAL IMAGES
  --------------------------------------------------------------*/
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg5{
    width: 85%;
    height: 85%;
  }

  #myImg10{
    width: 85%;
    height: 85%;
  }

  #myImg11{
    width: 100%;
    height: 15%;
  }

  #myImg12{
    width: 60%;
    height: 70%;
  }


  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }


  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }

  #imgDut {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 780px;
  }

  #imgPgVot{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;
  }

  /* Caption of Modal Image */
  #caption {
    /* margin-left: auto; */
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #EDB5D9;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 25px;
    right: 45px;
    width: 60px;
    height: 60px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
  }

  .close:hover,
  .close:focus {
    color: #EDB5D9;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


/*--------------------------------------------------
# VEILLE
--------------------------------------------------*/
  .link{
    text-decoration: none;
    color: #ADA2B1;
  }


/*--------------------------------------------------
# FOOTER
--------------------------------------------------*/
#footer{
    background-color: #050d18;
    z-index: 2;
}